.input-class {
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 12px;
}

.input-class:focus {
  border: 1px solid #FF5555;
  outline: none;
}

.input-class:disabled {
  background: #F9F9F9;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  color: #7E7E7E;
}

.input-class::placeholder {
  color: #7E7E7E;
}