$color_of_border: #D9D9D9;
$pink_color: #FF5555;
$grey_color: #7E7E7E;

@mixin box($size_w, $size_h, $border-radius: none) {
	width: $size_w;
	height: $size_h;

	@if ($border-radius != none) {
		border-radius: $border-radius;
	}
	
}
