@import "../variables";

.container {
  margin: 0px auto;
  border: $color_of_border solid 1px;
  @include box(357px, 104px, 6px);
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-family: 'Roboto';
  box-sizing: border-box;

  &:hover {
    background: #FFFFFF;
    border: 1px solid $color_of_border;
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    border-radius: 6px;
  }
}

.right-content {
  height: 80px;
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey_color;

  &:hover {
    color: #208FBF;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.additional-data {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey_color;
}

.stars {
  margin-right: 30px;
}
