<link rel="stylesheet" href="my_component.css">

<div class="component">
  <form class="search-box">
    <input class="input-class" type="text" placeholder="Введите название организации">
    <button class="search-button"><span class="button-back"></span></button>
  </form>
  <div class="main-list">
    <div class="container">
      <div class="logo"><span class="logo-text">K</span></div>
      <div class="right-content">
        <div class="title">
          kts-school-frontend
        </div>
        <div class="author">
          <a link="#">ktsstudio</a>
        </div>
        <div class="additional-data">
          <div class="stars">
            <span class="gold-star"><b>&#9734</b></span> 123
          </div>
          <div class="date">
            Updated 21 Jul
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="logo"><span class="logo-text">K</span></div>
      <div class="right-content">
        <div class="title">
          kts-school-frontend
        </div>
        <div class="author">
          <a link="#">ktsstudio</a>
        </div>
        <div class="additional-data">
          <div class="stars">
            <span class="gold-star"><b>&#9734</b></span> 123
          </div>
          <div class="date">
            Updated 21 Jul
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="logo"><span class="logo-text">K</span></div>
      <div class="right-content">
        <div class="title">
          kts-school-frontend
        </div>
        <div class="author">
          <a link="#">ktsstudio</a>
        </div>
        <div class="additional-data">
          <div class="stars">
            <span class="gold-star"><b>&#9734</b></span> 123
          </div>
          <div class="date">
            Updated 21 Jul
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="logo"><span class="logo-text">K</span></div>
      <div class="right-content">
        <div class="title">
          kts-school-frontend
        </div>
        <div class="author">
          <a link="#">ktsstudio</a>
        </div>
        <div class="additional-data">
          <div class="stars">
            <span class="gold-star"><b>&#9734</b></span> 123
          </div>
          <div class="date">
            Updated 21 Jul
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
